:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container {
  margin-bottom: 15px;
}

.file-or-folder {
  margin: 0px 5px;
  padding: 8px 0px;
  overflow: hidden;
}

.file-or-folder-icon {
  width: 50px;
  height: 50px;
  font-size: 50px;
}

.icon-spacer {
  margin: 5px;
}

.spacer {
  flex: 1 1 auto;
}
.file-or-folder-text {
   text-align: center;
 }

.file-or-folder-text:hover {
  .file-or-folder-short-text {
    display: none;
  }
  .file-or-folder-long-text {
    display: block;
  }
}

.file-or-folder-long-text {
  display: none;
}

.mat-grid-tile .mat-figure {
  position: initial;
  margin: 15px;
}