<h1 mat-dialog-title>Créer un nouveau dossier</h1>

<form [formGroup]="createFolderForm" (ngSubmit)="createFolder()">
  <mat-dialog-content>
    <mat-form-field>
      <input matInput placeholder="Folder Name" formControlName="folderName" />
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <a mat-raised-button (click)="cancel()">Cancel</a>
    <button mat-raised-button color="primary" [disabled]="createFolderForm.invalid" type="submit">
      Créer
    </button>
  </mat-dialog-actions>
</form>