<h1 mat-dialog-title>Ajouter un nouveau dossier</h1>

<form [formGroup]="createFolderForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Folder Name" formControlName="folderName" />
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" [disabled]="createFolderForm.invalid" type="submit">
      Créer
    </button>
  </mat-dialog-actions>
</form>