.container-image {
    width: 100%;
}

.card-image {
    margin: 0 auto;
}

.card-image-text-right {
    float: right;
    height: 700px;
    line-height: 700px;
    width: 20px;
    padding-right: 70px;
}

.card-image-text-left {
    float: left;
    height: 700px;
    line-height: 700px;
    width: 20px;
    padding-left: 70px;
}

.card-image-arrow {
    font-size: 30px;
}