<div *ngIf="currentContent">
    <div style="display:inline;">
        <button mat-raised-button color="primary" style="margin-top: 10px" (click)="deleteFile()">Supprimer ce fichier</button>
    </div>
    <div style="vertical-align:middle;display:inline;margin: 0 0 0 10px;">
        <mat-icon class="pointer" (click)="downloadFile()" title="Télécharger">
        download
        </mat-icon>
    </div>
</div>

<div *ngIf="link">
    <h3 style="text-align: center;">{{ currentContent }}</h3>

    <div fxLayout="row">
        <div class="card" *ngIf="link.includes('mp4')">
            <video [src]="link" controls autoplay>
                Your browser does not support the video element.
            </video>
        </div>
        <div class="card" *ngIf="link.includes('mp3')">
            <audio controls autoplay [src]="link" type="audio/mp3">
                Your browser does not support the audio element.
            </audio>
        </div>
    </div>
</div>

<div *ngIf="encodedJSON.name" fxLayout="row">
    <div class="card-arrow" fxLayout="column">
        <mat-icon *ngIf="dataLeft" (click)="getNextData(dataLeft, encodedJSON.type)">keyboard_arrow_left</mat-icon>
    </div>
    <div class="container-image" fxLayout="column">
        <h3 style="text-align: center;">{{ currentContent }}</h3>
        <div fxLayout="row">
            <div class="card" [ngSwitch]="encodedJSON.type">
                <img *ngSwitchCase="'image'" height="700px" [src]="encodedJSON.base64" (click)="getNextData(dataRight, encodedJSON.type)">
                <iframe *ngSwitchCase="'pdf'" class="scaled-frame" [src]="domSanitizer.bypassSecurityTrustResourceUrl(encodedJSON.base64)"></iframe>
                <span *ngSwitchDefault>Aucun viewer disponible</span>
            </div>
        </div>
    </div>
    <div class="card-arrow" fxLayout="column">
        <mat-icon *ngIf="dataRight" (click)="getNextData(dataRight, encodedJSON.type)">keyboard_arrow_right</mat-icon>
    </div>
</div>
