<button mat-raised-button color="primary" style="margin-top: 10px" *ngIf="actualContent" (click)="deleteFile()">Supprimer ce fichier</button>

<div *ngIf="link">
    <h3 style="text-align: center;">{{ actualContent }}</h3>

    <div fxLayout="row">
        <div class="card" *ngIf="link.includes('mp4')">
            <video [src]="link" controls></video>
        </div>
        <div class="card" *ngIf="link.includes('mp3')">
            <audio controls [src]="link" type="audio/mp3">
                Your browser does not support the audio element.
            </audio>
        </div>
    </div>
</div>

<div *ngIf="encodedJSON.name" fxLayout="row">
    <div class="card-arrow" fxLayout="column">
        <mat-icon *ngIf="dataLeft" (click)="getNextBase64Data(dataLeft, encodedJSON.type)">keyboard_arrow_left</mat-icon>
    </div>
    <div class="container-image" fxLayout="column">
        <h3 style="text-align: center;">{{ actualContent }}</h3>
        <div fxLayout="row">
            <div class="card">
                <ng-content *ngIf="encodedJSON.type == 'image'; then image else pdf"></ng-content>
                <ng-template #image>
                    <img height="700px" [src]="encodedJSON.base64" (click)="getNextBase64Data(dataRight, encodedJSON.type)">
                </ng-template>
                <ng-template #pdf>
                    <iframe class="scaled-frame" [src]="domSanitizer.bypassSecurityTrustResourceUrl(encodedJSON.base64)"></iframe>
                </ng-template>
            </div>
        </div>
    </div>
    <div class="card-arrow" fxLayout="column">
        <mat-icon *ngIf="dataRight" (click)="getNextBase64Data(dataRight, encodedJSON.type)">keyboard_arrow_right</mat-icon>
    </div>
</div>
