<div fxLayout="row" align="center"
    *ngIf="currentFolder === 'Repositories' || currentFolder.includes('Repositories/Mangas')">
    <mat-form-field fxFlex="30">
        <mat-select [(ngModel)]="txtManga">
            <mat-option *ngFor="let manga of allMangas" [value]="manga.value" placeholder="Selectionner un manga">
                {{manga.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <input type="number" matInput [(ngModel)]="txtMangaChapter" placeholder="Rechercher un chapitre" fxFlex="30">
    <button mat-raised-button color="primary"  fxFlex="30" *ngIf="txtManga && txtMangaChapter" (click)="searchManga(txtManga, txtMangaChapter)">
        Rechercher
    </button>
</div>
