<div style="height: 100%; box-sizing: border-box;">
  <mat-card style="height: 100%; box-sizing: border-box; padding:0">
    <app-file-explorer-viewer [fileElements]="fileElements | async" (folderAdded)="addFolder($event)"
      (elementRemoved)="removeElement($event)" (navigatedDown)="navigateToFolder($event)"
      (elementRenamed)="renameElement($event)" [currentFolder]="currentFolder"
      (currentFolderDataChange)="changeCurrentFolder($event)" [link]="link" (linkDataChange)="changeLink($event)"
      [image]="image" (imageDataChange)="changeImage($event)">
    </app-file-explorer-viewer>
  </mat-card>
</div>

<app-search-mangas [currentFolder]="currentFolder"></app-search-mangas>

<app-content-viewer [link]="link" [image]="image"></app-content-viewer>