<div class="card-container" fxLayout="row">
    <app-upload-file></app-upload-file>

    <app-file-explorer-viewer [currentFolder]="currentFolder" (currentFolderDataChange)="changeCurrentFolder($event)" [link]="link" (linkDataChange)="changeLink($event)" [image]="image" (imageDataChange)="changeImage($event)"></app-file-explorer-viewer>

    <app-search-mangas [currentFolder]="currentFolder"></app-search-mangas>
    
    <app-content-viewer [link]="link" [image]="image"></app-content-viewer>
</div>