<div fxLayout="row" class="container-download-links">
    <mat-icon class="pointer" (click)="openNewLinksDialog()" matTooltip="Ajouter des liens" matTooltipPosition="before">add_circle_outline</mat-icon>
    
    <mat-form-field>
        <input matInput [(ngModel)]="folderDestination" placeholder="Dossier de destination" fxFlex="30">
    </mat-form-field>
    
    <mat-icon matTooltip="Si ce champ est vide alors le(s) fichier(s) seront placés dans le dossier {{ initRepo }}"
        matTooltipPosition="after">help_outline</mat-icon>
    
    <button mat-raised-button color="primary" fxFlex="20" *ngIf="txtManga && txtMangaChapter" (click)="download()">
        Télecharger
    </button>
</div>